reverie/backend_server/utils.py
frontend_server/settings/local.py
storage/*
static_dirs/*

!storage/base_the_ville_isabella_maria_klaus/*
!storage/base_the_ville_n25/*

bin/
include/
pip-selfcheck.json
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject
reverie/config.json
environment/frontend_server/temp_storage/
environment/frontend_server/storage/
reverie/backend_server/persona/prompt_template/debug.ipynb
models/

reverie/backend_server/persona/prompt_template/test_functions.ipynb
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/2.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/3286.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/3308.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/3309.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/3310.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/3311.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/3312.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/3313.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/3314.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/3315.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/3316.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/3317.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/4073.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/4074.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/4075.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/4076.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/4077.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/4078.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/4079.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/4080.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/4081.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/4082.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/4083.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/4084.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/4097.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/4098.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/4099.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/4100.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/4780.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6518.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6519.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6520.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6521.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6522.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6523.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6524.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6557.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6558.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6559.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6560.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6561.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6562.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6563.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6564.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6565.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6566.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6567.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6568.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6569.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6570.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6571.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6573.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6574.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6575.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6576.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6577.json
environment/frontend_server/storage/July1_the_ville_isabella_maria_klaus-step-3-20/environment/6578.json
